/* WhatsAppToggle.module.css */
.whatsappButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    transition: opacity 0.3s ease-in-out;
  }
  
  .visible {
    opacity: 1;
  }
  
  .hidden {
    opacity: 0;
  }
  
  .iconWrapper {
    background-color: #25d366;
    color: white;
    padding: 16px;
    border-radius: 50%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .iconWrapper:hover {
    background-color: #1ebe57;
  }
  